.container1{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    margin-bottom: 50px;
    position: relative;
    top:55px;
}

.logoBanner{
    width: auto;
    height: auto;
    z-index: initial;
}

.container2{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 50px;
    margin-bottom: 50px;
    text-align: center;
}

#searchBar{
    width:200px;
    height:auto;
    outline: none;
    border: 3px solid red;
    border-right: none;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: 500;
}

#searchButton{
    width: 100px;
    height: 30px;
    background-color: red;
    color: white;
    font-weight: bold;
    border: none;
    outline: none;
    cursor: pointer;
}

#wellcome{
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 30px;
    font-weight: bold;
    margin-top: 20px;
}

#slog{
    font-size: 20px;
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    
}

.container3{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 50px;
    margin-bottom: 50px;
    text-align: center;
    width:100%;
    height: fit-content;
}

#heading{
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 78px;
    font-weight: bold;
    color: red;
}

#subheading{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 28px;
    color: red;
}

.attractions{
    display: flex;
    justify-content: center;
    flex-direction: row;
    margin-top: 50px;
    height: fit-content;
    width: fit-content;
}

.places{
    margin-left: 20px;
    margin-right: 20px;
    transform: translateX(0px);
}

#attractImg{
    width: 300px;
    height: 420px;
    border-radius: 20px;
    border-width: 0px;
}

#attractName{
    position: relative;
    top: -80px;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 24px;
    font-weight: bold;
    color: white;
}

.navigation{
    position: relative;
    top: -50px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin-bottom: 50px;
}

.arrow{
    height: 50px;
    width: 50px;
    margin:20px;
    cursor: pointer;
}

.places:hover{
    transform:translateY(-10px);
    transition: transform 0.5s ease-out;
}

#attractImg:hover{
    box-shadow: 0px 0px 10px 0px black;
    outline: none;
}

@media(max-width:878px){
    #heading{
        font-size: 60px;
    }
    #subheading{
        font-size: 20px;
    }
    #attractImg{
        width: 250px;
        height: 300px;
    }
    #attratctName{
        font-size: 20px;
    }
}

@media(max-width:350px){
    #searchBar{
        width: 150px;
    }
    #searchButton{
        width: 80px;
        height: 30px;
    }
    #wellcome{
        font-size: 25px;
    }
    #slog{
        font-size: 18px;
    }
}

@media(max-width:280px){
    .container1{
        top:50px;
    }
}