.container1{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    margin-bottom: 50px;
    position: relative;
    top:55px;
}

.logoBanner{
    width: auto;
    height: auto;
    z-index: initial;
}

.container2{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 50px;
    margin-bottom: 50px;
    text-align: center;
}

#searchBar{
    width:200px;
    height:auto;
    outline: none;
    border: 3px solid red;
    border-right: none;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: 500;
}

#searchButton{
    width: 100px;
    height: 30px;
    background-color: red;
    color: white;
    font-weight: bold;
    border: none;
    outline: none;
    cursor: pointer;
}

#wellcome{
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 30px;
    font-weight: bold;
    margin-top: 20px;
}

#slog{
    font-size: 20px;
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    
}

.container3{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 50px;
    text-align: center;
    width:100%;
    height: fit-content;
    background-image: url("https://i.pinimg.com/736x/c9/4b/70/c94b70ce84be5b0c0b16202f28634051.jpg");
    background-size:cover;
    background-repeat: repeat;
}

.container4{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin-bottom: 50px;
    width:100%;
    height: fit-content;
    background-image: url("https://i.pinimg.com/736x/7e/ae/cc/7eaeccd7fc77855bdf1a835442e1e98c.jpg");
    background-size:cover;
    background-repeat: repeat;
}

#heading{
    font-family:Montserrat, sans-serif;
    font-size: 78px;
    font-weight:900;
    color: white;
}

#subheading{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 28px;
    font-weight: 500;
    line-height: 10px;
    color: white;
}

.attractions{
    display: flex;
    justify-content: center;
    flex-direction: row;
    margin-top: 50px;
    height: fit-content;
    width: fit-content;
}

.legacy{
    display: flex;
    justify-content: center;
    flex-direction: row;
    margin-top: 50px;
    height: fit-content;
    width: fit-content;
}

.places{
    margin-left: 20px;
    margin-right: 20px;
    transform: translateX(0px);
    transition: all 0.5s ease-out;
    animation: entrance 1s ease-out;
}

.royals{
    margin-left: 20px;
    margin-right: 20px;
    transform: translateX(0px);
    transition: all 0.5s ease-out;
    animation: entrance 1s ease-out;
}

#attractImg{
    width: 300px;
    height: 420px;
    border-radius: 20px;
    border-width: 0px;
}

#royalImg{
    width: 350px;
    height: 350px;
    border-radius: 50%;
    border-width: 0px;
}

#attractName{
    position: relative;
    top: -80px;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 24px;
    font-weight: bold;
    color: white;
}

#royalName{
    position: relative;
    top: -80px;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 24px;
    font-weight: bold;
    color: white;
}

.navigation{
    position: relative;
    top: -40px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.arrow{
    height: 50px;
    width: 50px;
    margin:20px;
    cursor: pointer;
}

.places:hover{
    transform:translateY(-10px);
    transition: all 0.5s ease-out;
}

.places:hover{
    #attractImg{
        box-shadow: 0px 0px 10px 0px black;
        outline: none;
    }
}

.royals:hover{
    #royalImg{
        box-shadow: 0px 0px 10px 0px black;
        outline: none;
    }
}


@media(max-width:878px){
    #heading{
        font-size: 60px;
    }
    #subheading{
        font-size: 20px;
    }
    #attractImg{
        width: 250px;
        height: 300px;
    }
    #attratctName{
        font-size: 20px;
    }
    #royalImg{
        width: 300px;
        height: 300px;
    }
    #royalName{
        font-size: 20px;
    }
}

@media(max-width:727px){
    #heading{
        font-size: 50px;
    }
    #subheading{
        font-size: 18px;
    }
    #attractImg{
        width: 200px;
        height: 250px;
    }
    #attractName{
        font-size: 18px;
    }
    #royalImg{
        width: 250px;
        height: 250px;
    }
    #royalName{
        font-size: 18px;
    }
}

@media(max-width:605px){
    #heading{
        font-size: 40px;
    }
    #subheading{
        font-size: 16px;
    }
    #attractImg{
        width: 150px;
        height: 200px;
    }
    #attractName{
        font-size: 16px;
    }
    #royalImg{
        width: 200px;
        height: 200px;
    }
    #royalName{
        top: -80px;
        margin-right: 5px;
        margin-right: 5px;
        font-size: 12px;
    }
}

@media(max-width:500px){
    .attractions{
        flex-direction: column;
    }
    .places{
        animation: entrance2 0.5s ease-in-out;
    }
    #heading{
        font-size: 35px;
    }
    #subheading{
        font-size: 14px;
    }
    #attractImg{
        width: 160px;
        height: 190px;
    }
    #attractName{
        font-size: 14px;
        margin: 5px;
    }
    .arrow{
        height: 40px;
        width: 40px;
    }
    #royalImg{
        width: 190px;
        height: 150px;
    }
    #royalName{
        font-size: 12px;
        margin: 5px;
    }
}

@media(max-width:400px){
    .legacy{
        flex-direction: column;
    }
    #royalName{
        top: -60px;
        margin-right: 5px;
        margin-right: 5px;
        font-size: 14px;
    }
    .royals{
        animation: entrance2 0.5s ease-in-out;
    }
}


@media(max-width:350px){
    #searchBar{
        width: 150px;
    }
    #searchButton{
        width: 80px;
        height: 30px;
    }
    #wellcome{
        font-size: 25px;
    }
    #slog{
        font-size: 18px;
    }
}

@media(max-width:280px){
    .container1{
        top:50px;
    }
}

@keyframes entrance{
    0%{
        opacity: 0;
        transform: translateY(-50px);
    }
    100%{
        opacity: 1;
        transform: translateY(0px);
    }
}

@keyframes entrance2{
    0%{
        opacity: 0;
        transform: translateX(50px);
    }
    100%{
        opacity: 1;
        transform: translateX(0px);
    }
}