::-webkit-scrollbar {
    width: 12px;
}

::-webkit-scrollbar-track {
    background: #f1f1f1;
}

::-webkit-scrollbar-thumb {
    background: rgb(214, 2, 2);
    border-radius: 6px;
}

::-webkit-scrollbar-thumb:hover {
    background: red;
}


html {
    scrollbar-width: thin;
    scrollbar-color: rgb(214, 2, 2) #f1f1f1;
}

body{
    background-image: url("https://i.pinimg.com/1200x/d7/77/37/d77737cae1098d5453573c53250f0d1c.jpg");
    background-repeat: repeat;
}

.container2{
    display: flex;
    flex-direction: column;
    justify-content: center;
    justify-self: center;
    align-items: center;
    margin-top: 100px;
    margin-bottom: 50px;
    width: 50%;
    text-align: center;
    box-shadow: 0px 0px 10px 0px black;
    border-radius: 10px;
    background-image: url("https://i.pinimg.com/736x/a2/d7/ae/a2d7ae1f09364e37dd5ded185d28135c.jpg");
    background-size: cover;
}

#searchBar{
    width:200px;
    height:auto;
    outline: none;
    border: 3px solid red;
    border-right: none;
    border-top-left-radius:5px;
    border-bottom-left-radius: 5px;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: 500;
    margin-bottom: 10px;
}

#searchButton{
    width: 100px;
    height: 30px;
    background-color: red;
    color: white;
    font-weight: bold;
    border: none;
    outline: none;
    cursor: pointer;
    border-top-right-radius:5px;
    border-bottom-right-radius: 5px;
}

#wellcome{
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 30px;
    font-weight:800;
    margin-top: 20px;
}

#slog{
    font-size: 20px;
    font-weight: 600;
    font-style: italic;
    line-height: 18px;
    margin-bottom: 25px;
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    
}

#para{
    text-align:"center";
    margin:10px;
    font-weight:600;
    font-family: serif;
    font-style: italic;
}

.container3{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 50px;
    margin-bottom: 50px;
    margin-left: 10px;
    margin-right: 10px;
    text-align: center;
    width:80%;
    justify-self: center;
    height: fit-content;
    background-size:cover;
    background-repeat: repeat;
    background-color: rgb(202, 5, 5);
    border-radius: 20px;

}

#heading{
    font-family:Montserrat, sans-serif;
    font-size: 78px;
    font-weight:900;
    color: white;
}

#subheading{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 28px;
    font-weight: 500;
    line-height: 10px;
    color: white;
}

.sliderContainer{
    display: flex;
    justify-content: center;
    flex-direction: row;
    margin-top: 50px;
    height: fit-content;
    width: fit-content;
}

.legacy{
    display: flex;
    justify-content: center;
    flex-direction: row;
    margin-top: 50px;
    height: fit-content;
    width: fit-content;
}

.card{
    margin-left: 20px;
    margin-right: 20px;
    transform: translateX(0px);
    transition: all 0.5s ease-out;
    animation: entrance 1s ease-out;
}

.royals{
    margin-left: 20px;
    margin-right: 20px;
    transform: translateX(0px);
    transition: all 0.5s ease-out;
    animation: entrance 1s ease-out;
}

#cardImg{
    width: 300px;
    height: 420px;
    border-radius: 20px;
    border-width: 0px;
    box-shadow: 0px 7px 10px 0px black;
}

#royalImg{
    width: 350px;
    height: 350px;
    border-radius: 50%;
    border-width: 0px;
    box-shadow: 0px 0px 10px 0px black;
}

#cardName{
    position: relative;
    top: -80px;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 24px;
    font-weight: bold;
    color: white;
}

#royalName{
    position: relative;
    top: 0px;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 24px;
    font-weight: bold;
    color: white;
    margin-bottom: 25px;
}

.navigation{
    position: relative;
    top: -40px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.arrow{
    height: 50px;
    width: 50px;
    margin:20px;
    cursor: pointer;
}

.card:hover, .royals:hover{
    transform:translateY(-10px);
    transition: all 0.5s ease-out;
}

.royals:hover{
    #royalImg{
        box-shadow: 0px 0px 10px 0px black;
        outline: none;
    }
}

@media(max-width:1140px){
    #cardImg{
        width: 250px;
        height: 350px;
    }
}

@media(max-width:990px){
    #cardImg{
        width: 220px;
        height: 320px;
    }
}


@media(max-width:878px){
    #heading{
        font-size: 60px;
    }
    #subheading{
        font-size: 20px;
    }
    #cardImg{
        width: 250px;
        height: 300px;
    }
    #attratctName{
        font-size: 20px;
    }
    #royalImg{
        width: 300px;
        height: 300px;
    }
    #royalName{
        font-size: 20px;
    }
}

@media(max-width:727px){
    #wellcome{
        font-size: 25px;
    }
    #slog{
        font-size: 16px;
    }
    #searchBar{
        width: 180px;
    }
    #searchButton{
        width: 80px;
        height: 30px;
    }
    #heading{
        font-size: 50px;
    }
    #subheading{
        font-size: 18px;
    }
    #cardImg{
        width: 200px;
        height: 220px;
    }
    #cardName{
        font-size: 16px;
    }
    #royalImg{
        width: 220px;
        height: 220px;
    }
    #royalName{
        font-size: 16px;
    }
}

@media(max-width:605px){
    #heading{
        font-size: 40px;
    }
    #subheading{
        font-size: 16px;
    }
    #cardImg{
        width: 150px;
        height: 200px;
    }
    #cardName{
        font-size: 16px;
    }
    #royalImg{
        width: 200px;
        height: 200px;
    }
    #royalName{
        top: -80px;
        margin-right: 5px;
        margin-right: 5px;
        font-size: 12px;
    }
}

@media(max-width:587px){
    .container2{
        width: 70%;
    }
    #cardImg{
        width: 150px;
        height: 190px;
    }
    #cardName{
        font-size: 14px;
        margin: 5px;
    }
    #royalImg{
        width: 180px;
        height: 180px;
    }
}

@media(max-width:500px){
    .sliderContainer, .legacy{
        flex-direction: column;
    }
    .card{
        animation: entrance2 0.5s ease-in-out;
    }
    #heading{
        font-size: 35px;
    }
    #subheading{
        font-size: 14px;
    }
    #cardImg{
        width: 160px;
        height: 190px;
    }
    #cardName{
        font-size: 14px;
        margin: 5px;
    }
    .arrow{
        height: 40px;
        width: 40px;
    }
    #royalImg{
        width: 150px;
        height: 150px;
    }
    #royalName{
        font-size: 12px;
        margin: 5px;
    }
}

@media(max-width:400px){
    #wellcome{
        font-size: 20px;
    }
    #slog{
        font-size: 14px;
    }
    #para{
        font-size: 12px;
    }
    #searchBar{
        width: 150px;
        font-size: 12px;
    }
    #searchButton{
        width: 50px;
        height: 24px;
        font-size: 12px;
    }
    #heading{
        font-size: 30px;
    }
    #subheading{
        font-size: 12px;
    }
    #royalName{
        top: -60px;
        margin-right: 5px;
        margin-right: 5px;
        font-size: 14px;
    }
    .royals{
        animation: entrance2 0.5s ease-in-out;
    }
}


@media(max-width:350px){
    #heading{
        font-size: 25px;
    }
    #searchBar{
        width: 100px;
    }
    #searchButton{
        width: 46px;
        height: 24px;
    }
    #wellcome{
        font-size: 18px;
    }
    #slog{
        font-size: 14px;
    }
}

@media(max-width:280px){
    .container1{
        top:50px;
    }
}

@keyframes entrance{
    0%{
        opacity: 0;
        transform: translateY(-50px);
    }
    100%{
        opacity: 1;
        transform: translateY(0px);
    }
}

@keyframes entrance2{
    0%{
        opacity: 0;
        transform: translateX(50px);
    }
    100%{
        opacity: 1;
        transform: translateX(0px);
    }
}