::-webkit-scrollbar {
    width: 12px;
}

::-webkit-scrollbar-track {
    background: #f1f1f1;
}

::-webkit-scrollbar-thumb {
    background: rgb(214, 2, 2);
    border-radius: 6px;
}

::-webkit-scrollbar-thumb:hover {
    background: red;
}


html {
    scrollbar-width: thin;
    scrollbar-color: rgb(214, 2, 2) #f1f1f1;
}